body{
    font-family: Tahoma;
    color: maroon;
    letter-spacing: 1px;
    margin: 20px;
    background-image: url('images/christian-wiediger-Yep-psEeB9Y-unsplash\ \(1\).jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

h1 {
    background-color: gray; 
    padding: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
}



input, button, ul {
    background-color: wheat;
    color: red;
    padding: 10px;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin-bottom: 10px;
}